
h1{
  margin: 50px auto 0 auto;
  font-family: Pacifico, san-serif;
  font-size: 5.625rem;
  font-weight: normal;
  line-height: 2;
  color: #66BFBF;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: #11999E;
}
p{
  font-size: 1.2rem;
  font-weight: bold;
}
.intro{
  width: 20%;
  margin: auto;
}

hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}

body{
  margin: 0;
  text-align: center;
  font-family: Kanit, Pacifico, san-serif;
  font-size: 2rem;
  color: #40514E;
}

a:hover{
  color: #EAF6F6;
}

.profile-image{
  border-radius: 100%;
  width: 200px;
  padding-top: 50px;
}

.top-container{
  background-color: #BAD1C2;
  position: relative;
  padding-top: 100px;
}

.middle-container{
margin-bottom: 100px;

}

.bottom-container{
background-color: #66BFBF;
font-size: 0.8rem;
padding: 25px 0;

}

.footer-link{
    color: #11999E;
    font-weight: bold;
    margin: 20px;
    text-decoration: none;
}

.signature{
  color: #EAF6F6;
  font-size: 0.7rem;
  padding: 25px 0;
}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.photoskill{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.photoskill2{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
